<!-- ================== Footer  ================== -->

<footer>
    <div class="container">

        <!--footer showroom-->
        <div class="footer-showroom">
            <div class="row">
                <div class="col-sm-8">
                    <h2>Visite nossa loja!</h2>
                    <p>Smpw Quadra 6 conjunto 1 lote 6a - Núcleo Bandeirante, Brasília - DF, 71740-601</p>
                    <p>Seg - Sex: 8h - 18h &nbsp; &nbsp; | &nbsp; &nbsp; Sáb: 8h - 12h</p>
                </div>
                <div class="col-sm-4 text-center">
                    <a href="https://goo.gl/maps/Qv658KfLrrVgVSTe9" target="blank" class="btn btn-clean"><span
                            class="icon icon-map-marker"></span> Localização</a>
                    <div class="call-us h4">
                        <span class="fa fa-whatsapp"></span> <a href="https://wa.me/5561998631427"> &nbsp; 61 9 9863-1427</a>
                    </div>
                </div>
            </div>
        </div>

        <!--footer links-->
        <div class="footer-links">
            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <a [routerLink]="['/produtos']" [queryParams]="{categoria:2}">
                        <h5>Aparadores</h5>
                    </a>

                </div>
                <div class="col-sm-4 col-md-2">
                    <a [routerLink]="['/produtos']" [queryParams]="{categoria:4}">
                        <h5>Bancos</h5>
                    </a>
                </div>
                <div class="col-sm-4 col-md-2">
                    <a [routerLink]="['/produtos']" [queryParams]="{categoria:3}">
                        <h5>Cristaleiras</h5>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6">
                    <a [routerLink]="['/produtos']" [queryParams]="{categoria:1}">
                        <h5>Mesas</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="footer-social">
            <div class="row">
                <div class="col-sm-5"></div>
                <div class="col-sm-6">
                    <a href="https://pt-br.facebook.com/pedro.chaves.21" target="_blank">Powered by Pedro Chaves</a>
                </div>
            </div>
        </div>
    </div>
</footer>