.circulo{
    background:#fa0c01;
color:#fff;
width:10px;
height:10px;
vertical-align:middle;
text-align:center;
font-size:30px;
border-radius:50%;
-moz-border-radius:50%;
-webkit-border-radius:50%;
display: inline;
}