<div class="sort-bar clearfix">
    <div class="sort-results pull-left">
        <!--Showing result per page-->
        <select>
            <option value="1">10</option>
            <option value="2">50</option>
            <option value="3">100</option>
            <option value="4">All</option>
        </select>
        <!--Items counter-->
        <span>Showing all <strong>50</strong> of <strong>3,250</strong> items</span>
    </div>
    <!--Sort options-->
    <div class="sort-options pull-right">
        <span class="hidden-xs">Sort by</span>
        <select>
            <option value="1">Name</option>
            <option value="2">Popular items</option>
            <option value="3">Price: lowest</option>
            <option value="4">Price: highest</option>
        </select>
        <!--Grid-list view-->
        <span class="grid-list">
            <a href="products-grid.html"><i class="fa fa-th-large"></i></a>
            <a href="products-list.html"><i class="fa fa-align-justify"></i></a>
            <a href="javascript:void(0);" class="toggle-filters-mobile"><i class="fa fa-search"></i></a>
        </span>
    </div>
</div>

<div class="row">

    <!-- === product-item === -->
    <div class="col-md-6 col-xs-6" *ngFor="let produto of produtos">

        <article>
            <div class="info">
                <span class="add-favorite">
                    <a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                </span>
                <span>
                    <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
                </span>
            </div>
            <div class="btn btn-add">
                <i class="icon icon-cart"></i>
            </div>
            <div class="figure-grid">
                <span class="label label-info">-50%</span>
                <div class="image">
                    <a href="#productid1" class="mfp-open">
                        <img src="assets/images/product-1.png" alt="" width="360" />
                    </a>
                </div>
                <div class="text">
                    <h2 class="title h4"><a href="product.html">{{produto.nome}}</a></h2>
                    <sub>$ 1499,-</sub>
                    <sup>$ 1099,-</sup>
                    <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                </div>
            </div>
        </article>
    </div>

    <!-- === product-item === -->

    <div class="col-md-6 col-xs-6">
        <article>
            <div class="info">
                <span class="add-favorite">
                    <a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                </span>
                <span>
                    <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
                </span>
            </div>
            <div class="btn btn-add">
                <i class="icon icon-cart"></i>
            </div>
            <div class="figure-grid">
                <div class="image">
                    <a href="#productid1" class="mfp-open">
                        <img src="assets/images/product-2.png" alt="" width="360" />
                    </a>
                </div>
                <div class="text">
                    <h2 class="title h4"><a href="product.html">Laura</a></h2>
                    <sub>$ 3999,-</sub>
                    <sup>$ 3499,-</sup>
                    <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                </div>
            </div>
        </article>
    </div>

    <!-- === product-item === -->

    <div class="col-md-6 col-xs-6">
        <article>
            <div class="info">
                <span class="add-favorite">
                    <a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                </span>
                <span>
                    <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
                </span>
            </div>
            <div class="btn btn-add">
                <i class="icon icon-cart"></i>
            </div>
            <div class="figure-grid">
                <div class="image">
                    <a href="#productid1" class="mfp-open">
                        <img src="assets/images/product-3.png" alt="" width="360" />
                    </a>
                </div>
                <div class="text">
                    <h2 class="title h4"><a href="product.html">Nude</a></h2>
                    <sup>$ 2999,-</sup>
                    <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                </div>
            </div>
        </article>
    </div>

    <!-- === product-item === -->

    <div class="col-md-6 col-xs-6">
        <article>
            <div class="info">
                <span class="add-favorite">
                    <a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                </span>
                <span>
                    <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
                </span>
            </div>
            <div class="btn btn-add">
                <i class="icon icon-cart"></i>
            </div>
            <div class="figure-grid">
                <span class="label label-warning">New</span>
                <div class="image">
                    <a href="#productid1" class="mfp-open">
                        <img src="assets/images/product-4.png" alt="" width="360" />
                    </a>
                </div>
                <div class="text">
                    <h2 class="title h4"><a href="product.html">Aurora</a></h2>
                    <sup>$ 299,-</sup>
                    <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                </div>
            </div>
        </article>
    </div>

    <!-- === product-item === -->

    <div class="col-md-6 col-xs-6">
        <article>
            <div class="info">
                <span class="add-favorite">
                    <a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                </span>
                <span>
                    <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
                </span>
            </div>
            <div class="btn btn-add">
                <i class="icon icon-cart"></i>
            </div>
            <div class="figure-grid">
                <span class="label label-warning">New</span>
                <div class="image">
                    <a href="#productid1" class="mfp-open">
                        <img src="assets/images/product-5.png" alt="" width="360" />
                    </a>
                </div>
                <div class="text">
                    <h2 class="title h4"><a href="product.html">Dining set</a></h2>
                    <sub>$ 1999,-</sub>
                    <sup>$ 1499,-</sup>
                    <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                </div>
            </div>
        </article>
    </div>

    <!-- === product-item === -->

    <div class="col-md-6 col-xs-6">
        <article>
            <div class="info">
                <span class="add-favorite">
                    <a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                </span>
                <span>
                    <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
                </span>
            </div>
            <div class="btn btn-add">
                <i class="icon icon-cart"></i>
            </div>
            <div class="figure-grid">
                <div class="image">
                    <a href="#productid1" class="mfp-open">
                        <img src="assets/images/product-6.png" alt="" width="360" />
                    </a>
                </div>
                <div class="text">
                    <h2 class="title h4"><a href="product.html">Seat chair</a></h2>
                    <sup>$ 896,-</sup>
                    <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                </div>
            </div>
        </article>
    </div>

    <!-- === product-item === -->

    <div class="col-md-6 col-xs-6">

        <article>
            <div class="info">
                <span class="add-favorite">
                    <a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                </span>
                <span>
                    <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
                </span>
            </div>
            <div class="btn btn-add">
                <i class="icon icon-cart"></i>
            </div>
            <div class="figure-grid">
                <span class="label label-info">-50%</span>
                <div class="image">
                    <a href="#productid1" class="mfp-open">
                        <img src="assets/images/product-1.png" alt="" width="360" />
                    </a>
                </div>
                <div class="text">
                    <h2 class="title h4"><a href="product.html">Green corner</a></h2>
                    <sub>$ 1499,-</sub>
                    <sup>$ 1099,-</sup>
                    <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                </div>
            </div>
        </article>
    </div>

    <!-- === product-item === -->

    <div class="col-md-6 col-xs-6">
        <article>
            <div class="info">
                <span class="add-favorite">
                    <a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                </span>
                <span>
                    <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
                </span>
            </div>
            <div class="btn btn-add">
                <i class="icon icon-cart"></i>
            </div>
            <div class="figure-grid">
                <div class="image">
                    <a href="#productid1" class="mfp-open">
                        <img src="assets/images/product-2.png" alt="" width="360" />
                    </a>
                </div>
                <div class="text">
                    <h2 class="title h4"><a href="product.html">Laura</a></h2>
                    <sub>$ 3999,-</sub>
                    <sup>$ 3499,-</sup>
                    <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                </div>
            </div>
        </article>
    </div>

    <!-- === product-item === -->

    <div class="col-md-6 col-xs-6">
        <article>
            <div class="info">
                <span class="add-favorite">
                    <a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                </span>
                <span>
                    <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
                </span>
            </div>
            <div class="btn btn-add">
                <i class="icon icon-cart"></i>
            </div>
            <div class="figure-grid">
                <div class="image">
                    <a href="#productid1" class="mfp-open">
                        <img src="assets/images/product-3.png" alt="" width="360" />
                    </a>
                </div>
                <div class="text">
                    <h2 class="title h4"><a href="product.html">Nude</a></h2>
                    <sup>$ 2999,-</sup>
                    <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                </div>
            </div>
        </article>
    </div>

    <!-- === product-item === -->

    <div class="col-md-6 col-xs-6">
        <article>
            <div class="info">
                <span class="add-favorite">
                    <a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                </span>
                <span>
                    <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
                </span>
            </div>
            <div class="btn btn-add">
                <i class="icon icon-cart"></i>
            </div>
            <div class="figure-grid">
                <span class="label label-warning">New</span>
                <div class="image">
                    <a href="#productid1" class="mfp-open">
                        <img src="assets/images/product-4.png" alt="" width="360" />
                    </a>
                </div>
                <div class="text">
                    <h2 class="title h4"><a href="product.html">Aurora</a></h2>
                    <sup>$ 299,-</sup>
                    <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                </div>
            </div>
        </article>
    </div>

</div><!--/row-->
<!--Pagination-->
<div class="pagination-wrapper">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>