<section class="products" style="padding-bottom: 0px !important;">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-9">
                <div class="align-content-center">
                    <h5> Imagens: </h5>
                    <div class="imagemDiv" style="float: left; margin-left: 10px;" *ngFor="let img of imagens">
                        <article>
                            <div class="info">
                                <span class="add-favorite">
                                    <a data-title="Deletar!"><i class=" icon icon-trash"></i></a>
                                </span>
                                <span>
                                    <a class="mfp-open" data-title="Visualizar"><i class="icon icon-eye"></i></a>
                                </span>
                            </div>
                            <div class="figure-grid">
                                <div class="image">
                                    <a class="mfp-open">
                                        <img class="product-image-thumb" style="max-width: 150px;" src="{{img.url}}">
                                    </a>
                                </div>
                            </div>
                            <span *ngIf="img.tipo == 'CAPA'">Capa</span>
                            <span *ngIf="img.tipo != 'CAPA'">Galeria</span>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="panel panel-default animate__animated animate__bounceInRight" style="margin-top: 30px;" id="forms">
    <div class="panel-heading">Editar Produto</div>
    <div class="panel-body">
        <form class="form-horizontal" novalidate [formGroup]="formulario" (submit)="atualizar()">
            <div class="col-md-12">

                <div class="form-group">
                    <label class="col-lg-2 control-label">Nome</label>
                    <div class="col-lg-10">
                        <input type="text" formControlName="nome" class="form-control" placeholder="Nome">
                    </div>

                </div>
                <div *ngIf="!formulario.controls['nome'].valid && formulario.controls['nome'].touched">
                    <p class="text-warning">Nome deve ser preenchido!</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-lg-2 control-label">Descrição</label>
                    <div class="col-lg-10">
                        <input type="text" formControlName="descricao" class="form-control" placeholder="Descrição">
                    </div>
                </div>
                <div *ngIf="!formulario.controls['descricao'].valid && formulario.controls['descricao'].touched">
                    <p class="text-warning">Descrição deve ser preenchida!</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-lg-2 control-label">Preço</label>
                    <div class="col-lg-10">
                        <input type="text" formControlName="preco" class="form-control" placeholder="Preço">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-lg-2 control-label">Categoria</label>
                    <div class="col-lg-10">
                        <select class="form-control" formControlName="nomeCategoria"
                            placeholder="Selecione uma categoria...">
                            <option>Selecione uma categoria...</option>
                            <option *ngFor="let cat of categorias" [selected]="cat.nome == produto?.nomeCategoria">
                                {{cat.nome}}
                            </option>
                        </select>
                    </div>
                </div>

                <div
                    *ngIf="!formulario.controls['nomeCategoria'].valid && formulario.controls['nomeCategoria'].touched">
                    <p class="text-warning">Categoria deve ser preenchida!</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="col-lg-4 control-label">Altura</label>
                    <div class="col-lg-6">
                        <input type="text" formControlName="altura" class="form-control" placeholder="Altura">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="col-lg-4 control-label">Largura</label>
                    <div class="col-lg-6">
                        <input type="text" formControlName="largura" class="form-control" placeholder="Largura">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="col-lg-4 control-label">Comp.</label>
                    <div class="col-lg-6">
                        <input type="text" formControlName="profundidade" class="form-control"
                            placeholder="Comprimento">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="col-lg-4 control-label">Peso</label>
                    <div class="col-lg-6">
                        <input type="text" formControlName="peso" class="form-control" placeholder="Peso">
                    </div>
                </div>
            </div>

            <div class="text-right col-md-12">
                <hr>
                <button type="submit" class="btn btn-main" [disabled]="!formulario.valid">Atualizar</button>
            </div>
        </form>
    </div>
</div>