<!-- ======================== Main header ======================== -->
<div class="animate__animated animate__bounceInRight">

    <section class="main-header " style="background-image:url(assets/images/bancogi5.jpg)">
        <header>
            <div class="container">
                <h1 class="h2 title">Produtos</h1>
                <ol class="breadcrumb breadcrumb-inverted">
                    <li><a><span class="icon icon-home"></span></a></li>
                    <li><a href="{{baseUrl}}">Home</a></li>
                    <li><a class="active">Produtos</a></li>
                </ol>
            </div>
        </header>
    </section>

    <!-- ======================== Products ======================== -->

    <section class="products">
        <div class="container">

            <header class="hidden">
                <h3 class="h3 title">Product category grid</h3>
            </header>

            <div class="row">


                <!-- === product-filters === -->

      

                <!--product items-->

                <div class="col-md-12 col-xs-12">
                    <div class="sort-bar clearfix">
                        <!--Sort options-->
                        <div class="sort-options pull-right">
                            <span class="">Filtrar Categorias &nbsp;</span>
                            <select (change)="filtrarMobile($event.target.value)">
                                <option value="0">Todos</option>
                                <option value="2">Aparador</option>
                                <option value="4">Banco</option>
                                <option value="3">Cristaleira</option>
                                <option value="1">Mesa</option>
                            </select>
                            <!--Grid-list view-->
                        </div>
                    </div>
                    <div class="row">
                        <!-- === product-item === -->

                        <div class="col-sm-4"
                            *ngFor="let prod of produtosCapas | paginate: {itemsPerPage: 10, currentPage: p, totalItems:totalElementos}">
                            <div *ngIf="prod.produto.status == 'ATIVO' ">
                                <article>
                                    <div class="info">
                                        <span class="add-favorite" (click)="favoritar($event, prod.produto.id)">
                                            <a href="javascript:void(0);" data-title="Curtir!"
                                                data-title-added="Obrigado!"
                                                (click)="favoritarSpan($event,prod.produto.id)">
                                                <i (click)="favoritarHeart($event,prod.produto.id)"
                                                    class="icon icon-heart"></i>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="btn btn-add" [routerLink]="['/contato',prod.produto.id]">
                                        <i class="icon icon-cart"></i>
                                    </div>
                                    <div class="text">
                                        <h2 class="title h4"><a>{{prod.produto.nome}}</a></h2>
                                        <sub>R$ {{prod.produto.preco}}</sub>
                                        <sub>R$ {{prod.produto.preco}}</sub>

                                        <!--- <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span> -->
                                    </div>
                                    <div class="figure-grid" style="cursor: pointer !important; padding: 10px;"
                                        (click)="openModalProduto(templateModalProd, prod.produto.id)">
                                        <div class="image">
                                            <a class="mfp-open">
                                                <img src="{{prod.url}}" alt="" width="250" height="260" />
                                            </a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <!--/row-->

                </div>
                <!--/product items-->

            </div>
            <!--/row-->
            <!-- ========================  Product info popup - quick view ======================== -->


            <ng-template #templateModalProd>
                <div class="popup-main" style="margin-top: 30px;">

                    <!-- === product popup === -->

                    <div class="product">

                        <!-- === popup-title === -->

                        <div class="popup-title">
                            <div class="h1 title">{{imagens[0].produto.nome}}</div>
                        </div>

                        <!-- === product gallery === -->

                        <div class="owl-product-gallery">
                            <carousel>
                                <slide *ngFor="let img of imagens">
                                    <img src="{{img.url}}" alt="first slide" style="display: block; width: 100%;">
                                </slide>

                            </carousel>
                        </div>

                        <!-- === product-popup-info === -->

                        <div class="popup-content">
                            <div class="product-info-wrapper">
                                <div class="row">

                                    <!-- === left-column === -->

                                    <div class="col-sm-6">
                                        <div class="info-box">
                                            <strong>Altura</strong>
                                            <span>1.5m</span>
                                        </div>
                                        <div class="info-box">
                                            <strong>Largura</strong>
                                            <span>1.0m</span>
                                        </div>

                                    </div>

                                    <!-- === right-column === -->

                                    <div class="col-sm-6">
                                        <div class="info-box">
                                            <strong>Comprimento </strong>
                                            <span> 2.0m</span>
                                        </div>
                                        <div class="info-box">
                                            <strong>Peso</strong>
                                            <span>70kg</span>
                                        </div>
                                    </div>

                                </div>
                                <!--/row-->
                            </div>
                            <!--/product-info-wrapper-->
                        </div>
                        <!--/popup-content-->
                        <!-- === product-popup-footer === -->

                        <div class="popup-table">
                            <div class="popup-cell">
                                <div class="price">
                                    <span class="h3">$ 1999,00 <small>$ 2999,00</small></span>
                                </div>
                            </div>
                            <div class="popup-cell">
                                <div class="popup-buttons">
                                    <a [routerLink]="['/contato',imagens[0].produto.id]" style="cursor: pointer;"
                                        (click)="produtoModalRef.hide()">
                                        <span class="icon icon-cart"></span> <span class="hidden-xs">Orçamento</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--/product-->
                </div>
                <!--popup-main-->

            </ng-template>
            <div class="pagination-wrapper">
                <pagination-controls class="pagination" (pageChange)="p = $event" (pageChange)="getPage($event)"
                    previousLabel="Anterior" nextLabel="Próximo"> </pagination-controls>
            </div>
        </div>
        <!--/container-->
    </section>

</div>