<!-- ======================== Main header ======================== -->

<section class="main-header" style="background-image:url(assets/images/bancogi5.jpg)">
    <header>
        <div class="container">
            <h1 class="h2 title">Produtos</h1>
            <ol class="breadcrumb breadcrumb-inverted">
                <li><a><span class="icon icon-home"></span></a></li>
                <li><a href="{{baseUrl}}">Home</a></li>
                <li><a class="active">Produtos</a></li>
            </ol>
        </div>
    </header>
</section>

<!-- ======================== Products ======================== -->

<section class="products">
    <div class="container">

        <header class="hidden">
            <h3 class="h3 title">Product category grid</h3>
        </header>

        <div class="row">

            <!-- === product-filters === -->

            <div class="col-md-3 col-xs-12">
                <div class="filters">
                    <!--Price-->
                    <div class="filter-box active">
                        <div class="title">Price</div>
                        <div class="filter-content">
                            <div class="price-filter">
                                <input type="text" id="range-price-slider" value="" name="range" />
                            </div>
                        </div>
                    </div>
                    <!--Availability-->
                    <div class="filter-box active">
                        <div class="title">
                            Availability
                        </div>
                        <div class="filter-content">
                            <span class="checkbox">
                                <input type="radio" name="radiogroup-stock" id="availableId1" checked="checked">
                                <label for="availableId1">In stock <i>(152)</i></label>
                            </span>
                            <span class="checkbox">
                                <input type="radio" name="radiogroup-stock" id="availableId2">
                                <label for="availableId2">1 Week <i>(100)</i></label>
                            </span>
                            <span class="checkbox">
                                <input type="radio" name="radiogroup-stock" id="availableId3">
                                <label for="availableId3">2 Weeks <i>(80)</i></label>
                            </span>
                        </div>
                    </div>
                    <!--/filter-box-->
                    <!--Discount-->
                    <div class="filter-box active">
                        <div class="title">
                            Discount
                        </div>
                        <div class="filter-content">
                            <span class="checkbox">
                                <input type="radio" id="discountId1" name="discountPrice" checked="checked">
                                <label for="discountId1">Discount price</label>
                            </span>
                            <span class="checkbox">
                                <input type="radio" id="discountId2" name="discountPrice">
                                <label for="discountId2">Regular price</label>
                            </span>
                        </div>
                    </div>
                    <!--/filter-box-->
                    <!--Type-->
                    <div class="filter-box active">
                        <div class="title">
                            Type
                        </div>
                        <div class="filter-content">
                            <span class="checkbox">
                                <input type="radio" name="radiogroup-type" id="typeIdAll" checked="checked">
                                <label for="typeIdAll">All <i>(1200)</i></label>
                            </span>
                            <span class="checkbox">
                                <input type="radio" name="radiogroup-type" id="typeId1">
                                <label for="typeId1">Sofa <i>(20)</i></label>
                            </span>
                            <span class="checkbox">
                                <input type="radio" name="radiogroup-type" id="typeId2">
                                <label for="typeId2">Armchairs <i>(12)</i></label>
                            </span>
                            <span class="checkbox">
                                <input type="radio" name="radiogroup-type" id="typeId3">
                                <label for="typeId3">Chairs <i>(80)</i></label>
                            </span>
                            <span class="checkbox">
                                <input type="radio" name="radiogroup-type" id="typeId4">
                                <label for="typeId4">Dining tables <i>(140)</i></label>
                            </span>
                            <span class="checkbox">
                                <input type="radio" name="radiogroup-type" id="typeId5">
                                <label for="typeId5">Media storage <i>(20)</i></label>
                            </span>
                            <span class="checkbox">
                                <input type="radio" name="radiogroup-type" id="typeId6">
                                <label for="typeId6">Tables <i>(10)</i></label>
                            </span>
                            <span class="checkbox">
                                <input type="radio" name="radiogroup-type" id="typeId7">
                                <label for="typeId7">Bookcase <i>(450)</i></label>
                            </span>
                            <span class="checkbox">
                                <input type="radio" name="radiogroup-type" id="typeId8">
                                <label for="typeId8">Nightstands <i>(750)</i></label>
                            </span>
                            <span class="checkbox">
                                <input type="radio" name="radiogroup-type" id="typeId9">
                                <label for="typeId9">Children room <i>(960)</i></label>
                            </span>
                            <span class="checkbox">
                                <input type="radio" name="radiogroup-type" id="typeId10">
                                <label for="typeId10">Kitchen <i>(44)</i></label>
                            </span>
                            <span class="checkbox">
                                <input type="radio" name="radiogroup-type" id="typeId11">
                                <label for="typeId11">Bathroom <i>(5)</i></label>
                            </span>
                            <span class="checkbox">
                                <input type="radio" name="radiogroup-type" id="typeId12">
                                <label for="typeId12">Wardrobe <i>(80)</i></label>
                            </span>
                            <span class="checkbox">
                                <input type="radio" name="radiogroup-type" id="typeId13">
                                <label for="typeId13">Shoe cabinet <i>(23)</i></label>
                            </span>
                            <span class="checkbox">
                                <input type="radio" name="radiogroup-type" id="typeId14">
                                <label for="typeId14">Office <i>(24)</i></label>
                            </span>
                            <span class="checkbox">
                                <input type="radio" name="radiogroup-type" id="typeId15">
                                <label for="typeId15">Bar sets <i>(92)</i></label>
                            </span>
                            <span class="checkbox">
                                <input type="radio" name="radiogroup-type" id="typeId16">
                                <label for="typeId16">Lightning <i>(1120)</i></label>
                            </span>
                        </div>
                    </div>
                    <!--/filter-box-->
                    <!--Material-->
                    <div class="filter-box active">
                        <div class="title">
                            Material
                        </div>
                        <div class="filter-content">
                            <span class="checkbox">
                                <input type="radio" name="radiogroup-material" id="matIdAll">
                                <label for="matIdAll">All <i>(450)</i></label>
                            </span>
                            <span class="checkbox">
                                <input type="radio" name="radiogroup-material" id="matId1">
                                <label for="matId1">Blend <i>(11)</i></label>
                            </span>
                            <span class="checkbox">
                                <input type="radio" name="radiogroup-material" id="matId2">
                                <label for="matId2">Leather <i>(12)</i></label>
                            </span>
                            <span class="checkbox">
                                <input type="radio" name="radiogroup-material" id="matId3">
                                <label for="matId3">Wood <i>(80)</i></label>
                            </span>
                            <span class="checkbox">
                                <input type="radio" name="radiogroup-material" id="matId4">
                                <label for="matId4">Shell <i>(80)</i></label>
                            </span>
                            <span class="checkbox">
                                <input type="radio" name="radiogroup-material" id="matId5">
                                <label for="matId5">Metal <i>(80)</i></label>
                            </span>
                            <span class="checkbox">
                                <input type="radio" name="radiogroup-material" id="matId6">
                                <label for="matId6">Aluminium <i>(80)</i></label>
                            </span>
                            <span class="checkbox">
                                <input type="radio" name="radiogroup-material" id="matId7">
                                <label for="matId7">Acrilic <i>(80)</i></label>
                            </span>
                        </div>
                    </div>
                    <!--/filter-box-->
                    <!--close filters on mobile / update filters-->
                    <div class="toggle-filters-close btn btn-main">
                        Update search
                    </div>

                </div>
                <!--/filters-->
            </div>

            <!--product items-->

            <div class="col-md-9 col-xs-12">

                <div class="sort-bar clearfix">
                    <div class="sort-results pull-left">
                        <!--Showing result per page-->
                        <select>
                            <option value="1">10</option>
                            <option value="2">50</option>
                            <option value="3">100</option>
                            <option value="4">All</option>
                        </select>
                        <!--Items counter-->
                        <span>Showing all <strong>50</strong> of <strong>3,250</strong> items</span>
                    </div>
                    <!--Sort options-->
                    <div class="sort-options pull-right">
                        <span class="hidden-xs">Sort by</span>
                        <select>
                            <option value="1">Name</option>
                            <option value="2">Popular items</option>
                            <option value="3">Price: lowest</option>
                            <option value="4">Price: highest</option>
                        </select>
                        <!--Grid-list view-->
                        <span class="grid-list">
                            <a href="products-grid.html"><i class="fa fa-th-large"></i></a>
                            <a href="products-list.html"><i class="fa fa-align-justify"></i></a>
                            <a href="javascript:void(0);" class="toggle-filters-mobile"><i class="fa fa-search"></i></a>
                        </span>
                    </div>
                </div>

                <div class="row">

                    <!-- === product-item === -->

                    <div class="col-md-6 col-xs-6"
                        *ngFor="let prod of produtosCapas | paginate: {itemsPerPage: 10, currentPage: p, totalItems:totalElementos}">
                        <div *ngIf="prod.produto.status == 'ATIVO' ">
                            <article>
                                <div class="info">
                                    <span class="add-favorite" (click)="favoritar($event)">
                                        <a href="javascript:void(0);" data-title="Curtir!" data-title-added="Obrigado!" (click)="favoritarSpan($event)">
                                            <i class="icon icon-heart"></i>
                                        </a>
                                    </span>
                                </div>
                                <div class="btn btn-add">
                                    <i class="icon icon-cart"></i>
                                </div>
                                <div class="text">
                                    <h2 class="title h4"><a>{{prod.produto.nome}}</a></h2>
                                    <sub>R$ {{prod.produto.preco}}</sub>
                                    <sub>R$ {{prod.produto.preco}}</sub>

                                    <!--- <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span> -->
                                </div>
                                <div class="figure-grid" style="cursor: pointer !important; padding: 10px;"
                                    (click)="openModalProduto(templateModalProd, prod.produto.id)">
                                    <div class="image">
                                        <a class="mfp-open">
                                            <img src="{{prod.url}}" alt="" width="250" height="260" />
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <!--/row-->

            </div>
            <!--/product items-->

        </div>
        <!--/row-->
        <!-- ========================  Product info popup - quick view ======================== -->


        <ng-template #templateModalProd>
            <div class="popup-main" style="margin-top: 30px;">

                <!-- === product popup === -->

                <div class="product">

                    <!-- === popup-title === -->

                    <div class="popup-title">
                        <div class="h1 title">{{imagens[0].produto.nome}}</div>
                    </div>

                    <!-- === product gallery === -->

                    <div class="owl-product-gallery">
                        <carousel>
                            <slide *ngFor="let img of imagens">
                                <img src="{{img.url}}" alt="first slide" style="display: block; width: 100%;">
                            </slide>

                        </carousel>
                    </div>

                    <!-- === product-popup-info === -->

                    <div class="popup-content">
                        <div class="product-info-wrapper">
                            <div class="row">

                                <!-- === left-column === -->

                                <div class="col-sm-6">
                                    <div class="info-box">
                                        <strong>Altura</strong>
                                        <span>1.5m</span>
                                    </div>
                                    <div class="info-box">
                                        <strong>Largura</strong>
                                        <span>1.0m</span>
                                    </div>

                                </div>

                                <!-- === right-column === -->

                                <div class="col-sm-6">
                                    <div class="info-box">
                                        <strong>Comprimento </strong>
                                        <span> 2.0m</span>
                                    </div>
                                    <div class="info-box">
                                        <strong>Peso</strong>
                                        <span>70kg</span>
                                    </div>
                                </div>

                            </div>
                            <!--/row-->
                        </div>
                        <!--/product-info-wrapper-->
                    </div>
                    <!--/popup-content-->
                    <!-- === product-popup-footer === -->

                    <div class="popup-table">
                        <div class="popup-cell">
                            <div class="price">
                                <span class="h3">$ 1999,00 <small>$ 2999,00</small></span>
                            </div>
                        </div>
                        <div class="popup-cell">
                            <div class="popup-buttons">
                                <a><span class="icon icon-cart"></span> <span class="hidden-xs">Orçamento</span></a>
                            </div>
                        </div>
                    </div>

                </div>
                <!--/product-->
            </div>
            <!--popup-main-->

        </ng-template>
        <div class="pagination-wrapper">
            <pagination-controls class="pagination" (pageChange)="p = $event" (pageChange)="getPage($event)"
                previousLabel="Anterior" nextLabel="Próximo"> </pagination-controls>
        </div>
    </div>
    <!--/container-->
</section>