<div class="step-wrapper">
    <div class="container">

        <div class="stepper">
            <ul class="row">
                <li class="col-md-3 active">
                    <span data-text="Novo Produto"></span>
                </li>
                <li class="col-md-3">
                    <span data-text="Capa"></span>
                </li>
                <li class="col-md-3">
                    <span data-text="Outras Imagens"></span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default animate__animated animate__bounceInRight" style="margin-top: 30px;" id="forms">
    <div class="panel-heading">Capa Produto</div>
    <div class="panel-body">
        <form novalidate (submit)="upload()" enctype="multipart/form-data">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Selecione apenas <b>uma</b> imagem abaixo para ser a capa do protudo:</label>
                    <input type="file"  #imagemInput (change)="preview($event)" accept="image/png, image/jpeg, image/gif" class="form-control" placeholder="Capa">
                </div>
                <div class="mt-5" *ngIf="imagem">
                    <h5> Preview da imagem: </h5>
                    <div>
                        <img class="product-image-thumb" style="max-width: 100px;" [src]="imagemMin">

                    </div>

                </div>
            </div>

            <div class="text-right col-md-12">
                <hr>
                <button type="submit" class="btn btn-main" [disabled]="!imagem">Salvar Capa</button>
            </div>

        </form>
    </div>
</div>