<section class="header-content">

    <div class="owl-slider">

        <!-- === slide item === -->

        <div class="item" style="background-image:url(assets/images/carousel4.jpg)">
            <div class="box">
                <div class="container">
                    <h2 class="title animated h1" data-animation="fadeInDown">Móveis Rústicos Jatobá</h2>
                    <div class="animated" data-animation="fadeInUp">
                        Mesa, Banco, Aparador, Cristaleira e muito mais! <br />
                        Móveis à pronta-entrega ou sob encomenda!
                    </div>
                    <div class="animated" data-animation="fadeInUp">
                        <a class="btn btn-main" [routerLink]="['/produtos']" ><i class="icon icon-cart"></i> Conheça nossos produtos!</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- === slide item === -->

        <div class="item" style="background-image:url(assets/images/bancogi5.jpg)">
            <div class="box">
                <div class="container">
                    <h2 class="title animated h1" data-animation="fadeInDown">Modernize sua casa!</h2>
                    <div class="animated" data-animation="fadeInUp">Compre seu móvel ideal por e-mail, telefone ou via
                        Whatsapp com um de nossos vendedores.
                    </div>
                    <!--<div class="animated" data-animation="fadeInUp">Furniture category icon fonts!</div>-->
                    <div class="animated" data-animation="fadeInUp">
                        <a class="btn btn-clean" [routerLink]="['/produtos']" >Conheça nossos produtos!</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- === slide item === -->

        <div class="item" style="background-image:url(assets/images/bancogi.jpg)">
            <div class="box">
                <div class="container">
                    <h2 class="title animated h1" data-animation="fadeInDown">
                        Móveis para todos ambientes!
                    </h2>
                    <div class="desc animated" data-animation="fadeInUp">
                        Sala de jantar, sala de estar, corredores, áreas gourmet e áreas externas.
                    </div>
                    <div class="animated" data-animation="fadeInUp">
                        <a class="btn btn-clean" [routerLink]="['/produtos']">Conheça nossos produtos!</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--/owl-slider-->
</section>

<!-- ========================  Icons slider ======================== -->

<section class="owl-icons-wrapper owl-icons-frontpage">

    <!-- === header === -->

    <header class="hidden">
        <h2>Product categories</h2>
    </header>

    <div class="container" style="margin-left: 130px;">

        <div class="owl-icons">

            <!-- === icon item === -->

            <a href="#">
                <figure>
                    <i class="f-icon f-icon-chair"></i>
                    <figcaption>Cadeiras</figcaption>
                </figure>
            </a>

            <!-- === icon item === -->

            <a href="#">
                <figure>
                    <i class="f-icon f-icon-dining-table"></i>
                    <figcaption>Mesas</figcaption>
                </figure>
            </a>

            <!-- === icon item === -->

            <a href="#">
                <figure>
                    <i class="f-icon f-icon-media-cabinet"></i>
                    <figcaption>Aparadores</figcaption>
                </figure>
            </a>

            <!-- === icon item === -->

            <a href="#">
                <figure>
                    <i class="f-icon f-icon-table"></i>
                    <figcaption>Mesas de centro</figcaption>
                </figure>
            </a>

            <!-- === icon item === -->

            <a href="#">
                <figure>
                    <i class="f-icon f-icon-bookcase"></i>
                    <figcaption>Cristaleiras</figcaption>
                </figure>
            </a>



        </div>
        <!--/owl-icons-->
    </div>
    <!--/container-->
</section>

<!-- ========================  Products widget ======================== -->

<section class="products">

    <div class="container">

        <!-- === header title === -->

        <header>
            <div class="row">
                <div class="col-md-offset-2 col-md-8 text-center">
                    <h2 class="title">Os mais Vendidos</h2>
                </div>
            </div>
        </header>

        <div class="row">

            <!-- === product-item === -->

            <div class="col-md-4 col-xs-6"
                *ngFor="let prod of produtosUltimosProdutos | paginate: {itemsPerPage: 10, currentPage: p, totalItems:totalElementos}">
                <div *ngIf="prod.produto.status == 'ATIVO' ">
                    <article>
                        <div class="info">
                            <span class="add-favorite" (click)="favoritar($event, prod.produto.id)">
                                <a href="javascript:void(0);" data-title="Curtir!" data-title-added="Obrigado!"
                                    (click)="favoritarSpan($event,prod.produto.id)">
                                    <i (click)="favoritarHeart($event,prod.produto.id)" class="icon icon-heart"></i>
                                </a>
                            </span>
                        </div>
                        <div class="btn btn-add" [routerLink]="['/contato',prod.produto.id]">
                            <i class="icon icon-cart"></i>
                        </div>
                        <div class="text">
                            <h2 class="title h4"><a>{{prod.produto.nome}}</a></h2>
                            <sub>R$ {{prod.produto.preco}}</sub>
                            <sub>R$ {{prod.produto.preco}}</sub>

                            <!--- <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span> -->
                        </div>
                        <div class="figure-grid" style="cursor: pointer !important; padding: 10px;"
                            (click)="openModalProduto(templateModalProd, prod.produto.id)">
                            <div class="image">
                                <a class="mfp-open">
                                    <img src="{{prod.url}}" alt="" width="250" height="200" />
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-md-4 col-xs-6"
                *ngFor="let prod of produtosMaisCurtidos | paginate: {itemsPerPage: 10, currentPage: p, totalItems:totalElementos}">
                <div *ngIf="prod.produto.status == 'ATIVO' ">
                    <article>
                        <div class="info">
                            <span class="add-favorite" (click)="favoritar($event, prod.produto.id)">
                                <a href="javascript:void(0);" data-title="Curtir!" data-title-added="Obrigado!"
                                    (click)="favoritarSpan($event,prod.produto.id)">
                                    <i (click)="favoritarHeart($event,prod.produto.id)" class="icon icon-heart"></i>
                                </a>
                            </span>
                        </div>
                        <div class="btn btn-add" [routerLink]="['/contato',prod.produto.id]">
                            <i class="icon icon-cart"></i>
                        </div>
                        <div class="text">
                            <h2 class="title h4"><a>{{prod.produto.nome}}</a></h2>
                            <sub>R$ {{prod.produto.preco}}</sub>
                            <sub>R$ {{prod.produto.preco}}</sub>

                            <!--- <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span> -->
                        </div>
                        <div class="figure-grid" style="cursor: pointer !important; padding: 10px;"
                            (click)="openModalProduto(templateModalProd, prod.produto.id)">
                            <div class="image">
                                <a class="mfp-open">
                                    <img src="{{prod.url}}" alt="" width="250" height="260" />
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <!--/row-->
        <!-- === button more === -->

        <div class="wrapper-more">
            <a  class="btn btn-main" [routerLink]="['/produtos']">Conheça nossos Produtos</a>
        </div>

    </div>
    <!--/container-->
</section>

<!-- ========================  Section Instagram ======================== -->

<section class="instagram">

    <!-- === instagram header === -->

    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8 text-center">
                    <h2 class="h2 title">Siga Nosso <i class="fa fa-instagram fa-2x"></i> Instagram </h2>
                    <div class="text">
                        <p>@jatobamoveis</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- === instagram gallery === -->

    <div class="gallery clearfix">
        <a class="item" href="https://www.instagram.com/p/CClopuNDku4/" target="blank">
            <img src="../../../assets/images/mesa_balcao_320.jpg" alt="mesa rustica"  />
        </a>
        <a class="item" href="https://www.instagram.com/p/CEKy1d3japX/" target="blank">
            <img src="../../../assets/images/mesa_com_painel_320.jpg"  alt="mesa rustica moveis jatoba" />
        </a>
        <a class="item" href="https://www.instagram.com/p/CFCoA5-seD6/" target="blank">
            <img src="../../../assets/images/bacos_com_almofadas_320.jpg" alt="mesa rustica moveis jatoba"  />
        </a>
        <a class="item" href="https://www.instagram.com/p/CDB0j0sDial/" target="blank">
            <img src="../../../assets/images/3_bancos_piscina_320.jpg" alt="mesa rustica moveis jatoba" />
        </a>
        <a class="item" href="https://www.instagram.com/p/B81DwFMjkF3/" target="blank">
            <img src="../../../assets/images/mesa_centro_lustre_320.jpg"alt="mesa rustica moveis jatoba" />
        </a>
        <a class="item" href="https://www.instagram.com/p/B84MIaxDLFZ/" target="blank"> 
            <img src="../../../assets/images/carro_de_boi_320.jpg" alt="mesa rustica moveis jatoba" />
        </a>

    </div>
    <!--/gallery-->

    <ng-template #templateModalProd>
        <div class="popup-main" style="margin-top: 30px;">

            <!-- === product popup === -->

            <div class="product">

                <!-- === popup-title === -->

                <div class="popup-title">
                    <div class="h1 title">{{imagens[0].produto.nome}}</div>
                </div>

                <!-- === product gallery === -->

                <div class="owl-product-gallery">
                    <carousel>
                        <slide *ngFor="let img of imagens">
                            <img src="{{img.url}}" alt="first slide" style="display: block; width: 100%;">
                        </slide>

                    </carousel>
                </div>

                <!-- === product-popup-info === -->

                <div class="popup-content">
                    <div class="product-info-wrapper">
                        <div class="row">

                            <!-- === left-column === -->

                            <div class="col-sm-6">
                                <div class="info-box">
                                    <strong>Altura</strong>
                                    <span>1.5m</span>
                                </div>
                                <div class="info-box">
                                    <strong>Largura</strong>
                                    <span>1.0m</span>
                                </div>

                            </div>

                            <!-- === right-column === -->

                            <div class="col-sm-6">
                                <div class="info-box">
                                    <strong>Comprimento </strong>
                                    <span> 2.0m</span>
                                </div>
                                <div class="info-box">
                                    <strong>Peso</strong>
                                    <span>70kg</span>
                                </div>
                            </div>

                        </div>
                        <!--/row-->
                    </div>
                    <!--/product-info-wrapper-->
                </div>
                <!--/popup-content-->
                <!-- === product-popup-footer === -->

                <div class="popup-table">
                    <div class="popup-cell">
                        <div class="price">
                            <span class="h3">$ 1999,00 <small>$ 2999,00</small></span>
                        </div>
                    </div>
                    <div class="popup-cell">
                        <div class="popup-buttons">
                            <a [routerLink]="['/contato',imagens[0].produto.id]" style="cursor: pointer;" (click)="produtoModalRef.hide()">
                                <span class="icon icon-cart"></span> <span class="hidden-xs">Orçamento</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <!--/product-->
        </div>
        <!--popup-main-->

    </ng-template>

</section>